#header-container {
  position: sticky;
  top: var(--space-md);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--space-sm);
  padding: var(--space-xs) var(--space-md);
  font-family: var(--font-title);
  border-radius: var(--space-md);
  background: var(--glass-background);
  box-shadow: var(--glass-box-shadow);
  backdrop-filter: var(--glass-backdrop-filter);
}

#header-title {
  margin: 0;
  font-size: var(--space-md);
  color: var(--color-accent);
}

#header-items {
  display: flex;
  gap: var(--space-md);
  color: var(--color-primary);
}
