#header-container {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--space-sm);
  padding: var(--space-xs) var(--space-md);
  font-family: var(--font-title);
  border-radius: var(--space-md);
  background: var(--background);
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(18px) saturate(160%);
}

#header-title {
  font-size: var(--space-md);
  color: var(--color-accent);
  margin: 0;
}

#header-items {
  display: flex;
  gap: var(--space-md);
  color: var(--color-primary);
}
