:root {
  --font-title: 'Lobster', serif;
  --font-text: 'Google Sans Flex', sans-serif;
  --color-primary: #374151;
  --color-secondary: #F3F4F6;
  --color-tertiary: #C7D2FE;
  --color-accent: #B91C1C;
  --gradient: linear-gradient(to bottom right, var(--color-secondary), var(--color-tertiary));
  --background: rgba(255, 255, 255, 0.6);
  --box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 2.5rem;
  --space-xxl: 3rem;
}

body {
  background-image: var(--gradient);
}

#page-heading,
#page-subheading,
#page-text {
  font-family: var(--font-text);
}

#page-container {
  padding: var(--space-lg) var(--space-xl) var(--space-lg);
}

#page-title {
  font-family: var(--font-title);
  font-size: var(--space-md);
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 var(--space-sm);
}

#page-heading {
  font-size: var(--space-sm);
  font-weight: 700;
  line-height: 1.15;
  margin: var(--space-sm) 0;
}

#page-subheading {
  font-size: var(--space-sm);
  font-weight: 700;
  margin: var(--space-sm) 0;
}

#page-text {
  font-size: var(--space-sm);
  line-height: 1.65;
  margin: var(--space-sm) 0;
}
